@page
@model CrudTest2.Pages_Servico.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Servico</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.ImagePaths)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.ImagePaths)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Servico.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Servico.EndDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Servico.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
